FILESTORAGE_PATH=.storage
TOKEN=
WEB3_SOCKET_PROVIDER=
MODULE_ADDRESS=0xDa5F930cE326EB5205085D66c72A4E79d60cB8C1
ETHERSCAN_URL=https://etherscan.io
BEACONCHAIN_URL=https://beaconcha.in
MODULE_UI_URL=https://cm.lido.fi
BLOCK_BATCH_SIZE=10000
PROCESS_BLOCKS_REQUESTS_PER_SECOND=
BLOCK_FROM=
ADMIN_IDS=
HEALTHCHECK_HOST=0.0.0.0
HEALTHCHECK_PORT=8080
