FILESTORAGE_PATH=.storage
TOKEN=
WEB3_SOCKET_PROVIDER=wss://
MODULE_ADDRESS=
ETHERSCAN_URL=
BEACONCHAIN_URL=
MODULE_UI_URL=
BLOCK_BATCH_SIZE=10000
PROCESS_BLOCKS_REQUESTS_PER_SECOND=
BLOCK_FROM=
ADMIN_IDS=
HEALTHCHECK_HOST=0.0.0.0
HEALTHCHECK_PORT=8080
